#indexJumbotron {
    background-color: hsla(180, 4%, 15%, 0.8);
    min-height: 100%;
    font-family: 'Poiret One', cursive;
    color: white;
    min-width: 100%; 
    padding-bottom: 100px;
    margin-left: 50px;
    padding-right: 150px !important;   
}

.container{
    position: fixed; 
/* Preserve aspet ratio */
    align-content: center;
    margin-top: 200px;
    width: 100%; 
    padding-right: 100px; 
    font-size: 15px !important;    
}

button {
    font-family: 'Special Elite', cursive !important;
    color: black !important;
    background-color: white !important; 
    border: 1px solid black !important;
}

.item {
    font-family: 'Special Elite', cursive !important;
}
.maincontainer{
    background-image: url("../images/back-img.jpg");
    opacity: 0.8;
    font-family: 'Special Elite', cursive !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    
}

.subcontainer {
    margin-top: 250px;
    margin-left: 100px;
}

#navbar{
    font-family: 'Special Elite', cursive;
    background-color: hsla(180, 4%, 15%, 0.8) !important;
    color: white !important;
}

.navbutton:link {
    color: white !important; 
}

li:link, .panel-title {
    color: white !important; 
}

li:visited, li:active {
    color: gray !important;
    text-decoration: none; 
}

h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 65px;
    color: white !important;
}

#ytplayer {
    width: 300px; 
    height: 168px; 

}

.panel-title {
    font-size: 30px !important;

}

.panel, .panel-default, .panel-heading {
    background-color: hsla(180, 4%, 15%, 0.8) !important;
}

.content-container {
    padding: 80px 40px;
    margin: 0 auto;
    max-width: 900px;
    
}

.course {
    color: white; 
}

iframe {
    float: left; 
    margin: 20px; 
}

.youTubeImage {
    float: left; 
    margin: 5px; 
}

.youTubeTitle {
    padding: 5px;
    font-size: 20px; 
}

@media only screen and (min-width : 768px) {

}







