body {
    background-image: url("../images/back-img.jpg");
    font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}
#indexJumbotron {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100%;
    font-family: 'Poiret One', cursive;
    color: white;
    margin: 10px; 
    margin-top: 100px
 
}

#eventbrite-engineering a{
   word-break: keep-all;
}

.container{
    align-content: center;
    width: 100%; 
    padding-right: 100px; 
    font-size: 15px !important;    
}

button {
    font-family: 'Special Elite', cursive;
    color: black !important;
    background-color: yellow !important; 
    border: 1px solid black !important;
    font-size: 18px !important; 
}

.item {
    font-family: 'Special Elite', cursive;
}



.desc { 
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5; 
    padding: 5px; 
}

.subcontainer {
    margin-top: 250px;
    margin-left: 100px;
}

#navbar{
    font-family: 'Special Elite', cursive !important;
    background-color: hsla(180, 4%, 15%, 0.8) !important;
    color: white !important;
}

.navbutton:link, navbutton:active, .navbutton:visited, .panel-title {
    color: white !important; 
}



h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 52px !important;
    color: white !important;
}

#ytplayer {
    width: 300px; 
    height: 168px; 

}

.panel-title {
    font-size: 30px !important;
    font-family: 'Special Elite', cursive;
}

.panel, .panel-default, .panel-heading {
    background-color: hsla(180, 4%, 15%, 0.8) !important;
}

.content-container {
    padding: 80px 40px;
    margin: 0 auto;
    max-width: 900px;
    
}

.udacitylinks {
    color: white; 
}

.course, .thing-wrap {
    color: white; 
}

li{
    font-size: 20px;
}

iframe {
    float: left; 
    margin: 20px; 
}

.youTubeImage {
    float: left; 
    margin: 5px; 
}

.youTubeTitle {
    padding: 5px;
    font-size: 20px; 
}

.event {
    color: white;
    margin-bottom: 10px !important; 
    line-height: 2; 

}

@media (max-width: 1060px) {
    .panel {
        margin-top: 160px; 
    }
    #indexJumbotron { 
        padding: 5px;
        min-width: 90% !important; 
        
    }

    .desc { 
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px !important; 
        line-height: 1.5; 
        position: relative;
        left: 5%;
        right: 5%; 
        width: 90%; 
    }
    

}

@media (max-width: 380px) {
    .panel {
        margin-top: 160px; 
    }
    #indexJumbotron { 
        padding: 5px;
        min-width: 90% !important;
        margin-top: 10px;  
    }

    .desc { 
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px !important; 
        line-height: 1.5; 
        position: relative;
        left: 5%;
        right: 5%; 
        width: 90%; 
    }
    

}







